.wireframe {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.wireframe .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1440px;
    height: 900px;
}

.wireframe .overlap-group {
    position: relative;
    height: 900px;
    background-size: cover;
    background-position: 50% 50%;
}

.wireframe .background-image {
    position: fixed;
    width: 1440px;
    height: 900px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wireframe .overlap {
    position: absolute;
    width: 1440px;
    height: 110px;
    top: 0;
    left: 0;
}

.wireframe .div {
    position: absolute;
    width: 1440px;
    height: 83px;
    top: 0;
    left: 0;
}

.wireframe .screenshot {
    position: absolute;
    width: 1440px;
    height: 27px;
    top: 0;
    left: 0;
}

.wireframe .text-wrapper {
    position: absolute;
    top: 26px;
    left: 462px;
    font-family: "SF Pro Text-Semibold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.wireframe .fuck-around {
    position: absolute;
    width: 84px;
    height: 83px;
    top: 27px;
    left: 1327px;
}

.wireframe .fuck-around :hover{
    transform: scale(1.2);
}

.wireframe .try {
    left: 6px;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    object-fit: cover;
}

.wireframe .text-wrapper-2 {
    position: absolute;
    width: 82px;
    top: 70px;
    left: 0;
    text-shadow: 0px 1px 3.8px #00000080;
    font-family: "SF Pro Text-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.wireframe .images {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 27px;
    left: 1246px;
}

.wireframe .images :hover {
    transform: scale(1.2);
}

.wireframe .img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.wireframe .text-wrapper-3 {
    position: absolute;
    width: 50px;
    top: 70px;
    left: 10px;
    text-shadow: 0px 1px 3.8px #00000080;
    font-family: "SF Pro Text-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.wireframe .pigon {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 535px;
    left: 1332px;
}

.wireframe .pigon :hover{
    transform: scale(1.2);
}

.wireframe .pigon-2 {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 129px;
    left: 1246px;
}

.wireframe .pigon-2 :hover {
    transform: scale(1.2);
}

.wireframe .pigon-3 {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 637px;
    left: 1332px;
}

.wireframe .pigon-3 :hover {
    transform: scale(1.2);
}

.wireframe .pigon-4 {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 230px;
    left: 1246px;
}

.wireframe .pigon-4 :hover{
    transform: scale(1.2);
}

.wireframe .images-2 {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 434px;
    left: 1332px;
}

.wireframe .images-2 :hover{
    transform: scale(1.2);
}

.wireframe .dust {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 230px;
    left: 1333px;
}

.wireframe .dust :hover {
    transform: scale(1.2);
}

.wireframe .text-wrapper-4 {
    position: absolute;
    width: 31px;
    top: 70px;
    left: 20px;
    text-shadow: 0px 1px 3.8px #00000080;
    font-family: "SF Pro Text-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.wireframe .flying-papers {
    position: absolute;
    width: 76px;
    height: 83px;
    top: 129px;
    left: 1331px;
}

.wireframe .flying-papers :hover {
    transform: scale(1.2);
}

.wireframe .try-2 {
    left: 2px;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    object-fit: cover;
}

.wireframe .text-wrapper-5 {
    position: absolute;
    width: 74px;
    top: 70px;
    left: 0;
    text-shadow: 0px 1px 3.8px #00000080;
    font-family: "SF Pro Text-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.wireframe .lights {
    position: absolute;
    width: 72px;
    height: 83px;
    top: 332px;
    left: 1332px;
}

.wireframe .lights :hover{
    transform: scale(1.2);
}

.wireframe .text-wrapper-6 {
    position: absolute;
    width: 66px;
    top: 70px;
    left: 2px;
    text-shadow: 0px 1px 3.8px #00000080;
    font-family: "SF Pro Text-Semibold", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
