.frame-4,
.frame-4 * {
  box-sizing: border-box;
}

.frame-4 {
  background: #ffffff;
  width: 1440px;
  height: 784px;
  position: relative;
  overflow: hidden;
}

._2023-andy-zhao {
  color: #000000;
  text-align: center;
  font: 400 10px "UglyDave-Alternates", sans-serif;
  position: absolute;
  left: 677px;
  top: 767px;
  width: 85px;
  height: 13px;
}

.collection-3 {
  color: #000000;
  text-align: center;
  font: 400 32px "UglyDave-Alternates", sans-serif;
  position: absolute;
  left: 587px;
  top: 24px;
  width: 265px;
  height: 55px;
}

.img-20220223-21510629-1 {
  width: 910px;
  height: 683px;
  position: absolute;
  left: 265px;
  top: 75px;
}

.ellipse-1,
.ellipse-4,
.ellipse-6,
.ellipse-5 {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  width: 65px;
  height: 15px;
  position: absolute;
}

.ellipse-1 {
  left: 455px;
  top: 668px;
}

.ellipse-4 {
  left: 639px;
  top: 653px;
}

.ellipse-6 {
  left: 502px;
  top: 619.5px;
}

.ellipse-5 {
  left: 570.59px;
  top: 638.5px;
}

.pigon-1,
.pigon-2,
.pigon-3,
.pigon-6,
.pigon-8 {
  width: 81px;
  height: 71px;
  position: absolute;
}

.pigon-1 {
  left: 486px;
  top: 556px;
}

.pigon-2 {
  left: 506px;
  top: 569px;
}

.pigon-3 {
  left: 558px;
  top: 575px;
}

.pigon-6 {
  left: 445px;
  top: 605px;
}

.pigon-8 {
  left: 720px;
  top: 591.5px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}

.eye {
  width: 14.21px;
  height: 14.21px;
  position: absolute;
}

#eye-1 {
  left: 540.27px;
  top: 558.92px;
}

#eye-2 {
  left: 612.33px;
  top: 577.92px;
}

#eye-3 {
  left: 651.47px;
  top: 594.51px;
}

#eye-12 {
  left: 499.41px;
  top: 607.97px;
}
